@import "../../scss/variables";

$pres-fadein: 0.75s;

@keyframes WaveEmoji {
    0%,
    100% {
        transform: rotateZ(0deg), translateY(0px);
    }

    10%,
    30%,
    60%,
    80%,
    90% {
        transform: rotateZ(0deg) translateY(-10px);
    }

    50%,
    70% {
        transform: rotateZ(50deg) translateY(-10px);
    }
}

#presentation {
    margin-top: 10%;
    font-family: $secondary-font;

    &.anim-done {
        .fancy-name,
        .fancy-title {
            text-shadow: -2.5px 2.5px 0px $melon,
                -5px 5px 0px darken($melon, 10),
                -7.5px 7.5px 0px darken($melon, 20);
        }
    }

    .contacts {
        margin-top: 0.5rem;
        a {
            text-decoration: none;
            color: white;
        }
        i {
            margin-right: 1rem;
            cursor: pointer;
            transition: transform 0.2s, color 0.2s;
            position: relative;

            &:hover {
                transform: translateY(-0.25rem);
                color: $zomp;

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .presentation-illustration {
        .presentation-img {
            width: 100%;
        }
    }

    .presentation-group {
        margin: 0;

        .fancy-hello {
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 5rem;
            position: relative;
            display: inline-block;

            .wave-emoji {
                display: inline-block;
                animation: WaveEmoji 1.25s ease-out $pres-fadein * 4;
                user-select: none;
                transition: 1s;

                &:hover {
                    transition: 0.5s;
                    transform: rotateZ(360deg);
                }
            }
        }

        .fancy-name,
        .fancy-title {
            opacity: 0;
            font-weight: bold;
            font-size: 3.5rem;
            transition: 0.5s;
        }

        .presentation-description {
            margin: 0;
            font-size: 2rem;
            color: lighten($zomp, 15);
        }

        .presentation-description,
        .fancy-name,
        .fancy-title {
            opacity: 0;
            animation: FadeIn $pres-fadein ease-in 0s 1 forwards;
        }

        .fancy-name {
            animation-delay: $pres-fadein;
        }

        .pd-iama {
            animation-delay: $pres-fadein * 2;
        }

        .fancy-title {
            animation-delay: $pres-fadein * 3;
        }
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
