@import "../../scss/variables";

@keyframes TextTest {
    0%,
    100% {
        transform: rotateZ(0deg), translateY(0px);
    }

    10%,
    30%,
    60%,
    80%,
    90% {
        transform: rotateZ(0deg) translateY(-10px);
    }

    50%,
    70% {
        transform: rotateZ(60deg) translateY(-10px);
    }
}

#presentation {
    margin-top: 10%;
    font-family: $secondary-font;

    .presentation-group {
        margin: 0;

        .fancy-hello {
            margin-bottom: 5rem;

            .wave-emoji {
                display: inline-block;
                animation-name: TextTest;
                animation-duration: 1.25s;
                animation-fill-mode: backwards;
                animation-direction: alternate-reverse;
                animation-timing-function: linear;
                animation-iteration-count: 1;
                animation-delay: 1s;
                user-select: none;

                transition: 1s;
                &:active {
                    transition: 0.5s;
                    transform: rotateZ(360deg);
                }
            }
        }

        .fancy-name {
            width: fit-content;
            font-weight: bold;
            font-size: 3.5rem;
            transition: text-shadow 0.5s;

            &:hover {
                text-shadow: -2.5px 2.5px 0px $melon,
                    -5px 5px 0px darken($melon, 10),
                    -7.5px 7.5px 0px darken($melon, 20);
            }
        }

        .fancy-usp {
            font-weight: bold;
            font-size: 3.5rem;
        }

        .presentation-description {
            margin: 0;
            font-size: 2rem;
            color: lighten($zomp, 15);
        }
    }
}
