@import "../../scss/variables";

@keyframes TextTest {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#presentation {
    margin-top: 10%;
    font-family: $secondary-font;

    .presentation-group {
        margin: 0;

        span:not(.exclamation-mark) {
            display: block;
        }

        .fancy-hello {
            margin-bottom: 5rem;
        }

        .fancy-name {
            font-weight: bold;
            font-size: 3.5rem;
            transition: text-shadow 0.5s;
            width: fit-content;
            animation: TextTest 5s;
            animation-iteration-count: 1;

            &:hover {
                text-shadow: -2.5px 2.5px 0px $melon,
                    -5px 5px 0px darken($melon, 10),
                    -7.5px 7.5px 0px darken($melon, 20);
            }
        }

        .fancy-usp {
            font-weight: bold;
            font-size: 3.5rem;
        }

        .presentation-description {
            margin: 0;
            font-size: 2rem;
            color: lighten($zomp, 15);
        }
    }
}
