@import "../../scss/variables";

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: $bp-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $bp-xxl) {
        grid-template-columns: repeat(3, 1fr);
    }
}
