@import "../../scss/variables";

.project-card {
    border-radius: 4px;
    padding: 1rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5rem;
    font-family: $secondary-font;
    position: relative;

    .project-title {
        color: $zomp;
    }

    .icon-octocat,
    .icon-extlink {
        width: 30px;
    }

    ul {
        list-style-type: none;
        display: flex;
        font-size: 0.875rem;
        font-family: monospace;
        padding-left: 0;
        max-width: 100%;
        position: absolute;
        bottom: 0;
        color: $light-slate;

        li {
            &.project-lang-li {
                margin-right: 1rem;
            }

            &.project-tech-li {
                margin-left: 1rem;
            }
        }
    }

    .project-langs {
    }
    .project-tech {
    }
    .project-description {
    }
}
