.fade-enter {
    transition: 400ms;
    filter: blur(25px);
    transform: scale(1.2);
    opacity: 0;
}

.fade-enter-active {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}

.fade-exit {
    transition: 400ms;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}

.fade-exit-active {
    filter: blur(25px);
    transform: scale(1.2);
    opacity: 0;
}
