@import "../../scss/variables";

#about {
    flex-direction: row-reverse;
    overflow-x: hidden;

    .presentation-illustration {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        word-wrap: break-word;
        flex-wrap: wrap;
        min-width: 0;

        .text-loop {
            font-size: 2.25rem;
            font-weight: bold;
            color: var(--accent);
            transition: $trans-slow;

            @media (min-width: $bp-md) {
                font-size: 2.5rem;
            }

            @media (min-width: $bp-lg) {
                font-size: 2rem;
            }

            @media (min-width: $bp-xl) {
                font-size: 2.5rem;
            }
        }
    }

    a {
        color: var(--alt-accent);
        text-decoration: none;
        border-bottom: 1px dashed currentColor;
        transition: $trans-med;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: auto;
            right: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background: var(--accent);
            transition: $trans-med;
        }

        &:hover {
            border-bottom: 1px dashed transparent;
            &::after {
                width: 100%;
                left: 0;
                right: auto;
            }

            color: var(--accent);
        }
    }
}
