@import "../../scss/variables";

.skillcard {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .skill-container {
        li {
            color: var(--alt-secondary-color);
            margin: 0.5rem;
            display: inline-block;
            cursor: default;
            transition: $trans-slow;

            &:hover {
                transition: $trans-fast;
                color: var(--secondary-color);
                transform: translateY(-5px);
            }
        }
    }
}
