@import "../../scss/variables";

.skillcard {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .skill-container {
        transition: 0.2s;
        overflow: hidden;

        li {
            color: var(--alt-secondary-color);
            margin: 0.5rem;
            display: inline;
            transition: 0.25s;
            cursor: default;

            &:hover {
                color: var(--secondary-color);
                transform: translateY(-5px);
            }
        }
    }
}
