@import "../../scss/variables";

#navContainer {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;

    #mainNavigation {
        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                cursor: pointer;
                margin-left: 2rem;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.2s;
                position: relative;

                &.theme-switch {
                    color: $light-slate;
                    transition: 300ms;
                    margin-right: 0.5rem;

                    &::before {
                        content: "";
                        width: 0;
                        height: 0;
                        transition: 300ms;
                        position: absolute;
                        background: $middle-yellow-red;
                        left: 0;
                        filter: blur(15px);
                        border-radius: 100%;
                    }

                    &:hover {
                        color: $middle-yellow-red;

                        &::before {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                a {
                    color: var(--accent);
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color 0.2s;

                    &:hover {
                        color: var(--alt-accent);
                    }

                    &::before {
                        content: "";
                        left: calc(50% - 3px);
                        width: 6px;
                        height: 6px;
                        bottom: -4rem;
                        opacity: 0;
                        position: absolute;
                        transition: 0.2s;
                        background: var(--accent);
                        border-radius: 100%;
                        visibility: hidden;
                    }

                    &:hover::before,
                    &.active::before {
                        visibility: visible;
                        bottom: -0.5rem;
                        height: 6px;
                        width: 6px;
                        opacity: 1;
                        background: var(--alt-accent);
                    }

                    &.active::before {
                        background: var(--accent);
                    }
                }
            }
        }
    }
}

.theme-anim {
    &-enter {
        transform: translateY(25px);
        opacity: 0;

        &-active {
            transition: 400ms;
            transition-timing-function: cubic-bezier(0.16, 1.43, 0.52, 1.62);
            transform: translateY(0);
            opacity: 1;
        }
    }

    &-exit {
        transform: translateY(0);
        opacity: 1;

        &-active {
            transition: 200ms;
            transform: translateY(25px);
            opacity: 0;
        }
    }
}
