@import "../../scss/variables";

#mainFooter {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-text {
        position: relative;
        z-index: 1;

        a {
            display: block;
            position: relative;
            transition: $trans-slow;
            color: var(--alt-accent);
            z-index: 99;

            &::after {
                content: "";
                transition: $trans-slow;
                width: 0;
                height: 2px;
                position: absolute;
                background: $zomp;
                bottom: 0;
                left: auto;
                right: 0;
            }

            &:hover {
                color: var(--accent);

                &::after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}
