@import "./variables";

* {
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: lighten($space-cadet, 35) $space-cadet;
}

body {
    font-family: $secondary-font;
    min-width: 400px;
}

a {
    color: var(--alt-accent);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.btns {
    color: var(--alt-accent);
    width: max-content;
    transition: $trans-slow;
    background: transparent;
    border-radius: 4px;
    text-decoration: none;
    position: relative;

    &:hover {
        color: var(--text-color);
    }

    &::before,
    &::after {
        content: "";
        width: 0%;
        height: 0%;
        margin: 0 auto;
        position: absolute;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: $trans-med;
    }

    &::before {
        bottom: 3px;
        left: 3px;
        border-bottom: 2px dashed transparent;
        border-left: 2px dashed transparent;
    }

    &::after {
        top: 3px;
        right: 3px;
        border-top: 2px dashed transparent;
        border-right: 2px dashed transparent;
    }

    &:hover::before {
        width: 100%;
        height: 100%;
        border-bottom-color: var(--accent);
        border-left-color: var(--accent);
    }

    &:hover::after {
        width: 100%;
        height: 100%;
        border-top-color: var(--accent);
        border-right-color: var(--accent);
    }

    &.btn-large {
        padding: 0.5rem 2rem;
    }
}

.illustration {
    width: 100%;
    max-width: 100%;
}

.underlined {
    position: relative;
    z-index: 1;
    display: inline-block;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -99;
        content: "";
        width: 100%;
        height: 0.35em;
        background: darken($zomp, 15);
        opacity: 0.8;
    }
}

::selection {
    background: $zomp;
    color: white;
}
